body{
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

form{
  max-width: 520px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

label{
  display: block;
  margin-top: 10px;
}

input, select, textarea{
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

button{
  margin-top: 16px;
  padding: 10px;
}
